body {
    margin:0;
    height:100%;
    background-color: #f5f5f5;
}

.navbar-fixed {
    top: 0;
    position: fixed;
}

.fullscreen {
    height:100%;
}

.shadowtext {
   text-shadow: 0px 2px 8px #000000; 
}

.featured-image{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.mini-parallax{
    height: 33.3%;
}

.small-text{
    font-size: 20px;
    font-style: thin;
}

#google-maps iframe, object, embed {
    max-width: 100%;
    max-height: 55%;
    pointer-events: none;
}


.lightbox {
    display: none;
}

@media only screen and (min-width: 601px) {
    .featherlight-content {
        width: 42.79%;
    }

    .row .col.push-m1\.5 {
      left: 12.5%;
    }

    .row .col.push-m4\.5 {
      left: 37.5%;
    }
}
