body {
    margin:0;
    height:100%;
    background-color: #f5f5f5;
}

.nav-wrapper {
    height:10%;
}

.fullscreen {
    height:91%;
}

.shadowtext {
   text-shadow: 0px 2px 2px #000000; 
}

.featured-image{
    zoom: 2;

    display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%
}
