{% extends 'base.html' %}
{% from 'dbmacro.html' import display_row %}

{% block othercss %}
    <title> add row </title>
    <meta name="robots" content="noindex" />
{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        <h4> New {{row.__class__.__name__}} </h4><br>
        {{display_row(row)}}
        <a href={{url_for("admin")}} class="btn-large" value="Submit"> Cancel </a>
        <button class="btn-large" value="Submit"> Submit </button>
    </form>
</div>
{% endblock %}
