{% extends 'base.html' %}
{% from 'dbmacro.html' import display_row %}
{% block othercss %}
<title> admin </title>
<meta name="robots" content="noindex" />
{% endblock %}


{% macro edit_row(row) -%}
<div class="row grey lighten-4" table="{{row.__class__.__name__}}" row_id="{{row.id}}">
    {% if row.__class__.__name__ != "HTML" %}
       <div class="right red-text text-lighten-2">
           <a table="{{row.__class__.__name__}}" row_id="{{row.id}}"
               class="right red-text text-lighten-2 delete-row"
               style="cursor: hand;">
                delete row 
            </a>
        </div>
    {% endif %}
    {{display_row(row)}}
</div>
{%- endmacro %}

{% macro add_row(name)%}
    {% if name != "HTML" %}
    <a class="btn" href="{{url_for('add', table=name)}}">
        Add new {{name}}
    </a>
    {% endif %}
{% endmacro %}

{% macro edit_table(table, title) -%}
<li>
    <div class="collapsible-header">
        {{title}}
        <i class="material-icons large right"> mode_edit </i>
    </div>
    <div class="collapsible-body">
        <div class="container">
            {% if table is iterable %}
                {% for row in table %}
                    {{edit_row(row)}}
                {% endfor %}
                {{add_row(table[0].__class__.__name__)}}
            {% else %}
                {{add_row(table.__class__.__name__)}}
            {%endif %}
        </div>
    </div>
</li>
{%- endmacro %}

{% block script %}
<script type="text/javascript" src="{{url_for('static', filename='js/admin.js')}}"> </script>
{% endblock %}

{% block body %}
    <div class="container"> 
        {% for message in get_flashed_messages() %}
            <h5 class="red-text text-lighten-2"> {{message}} </h5>
        {%endfor%}

        <h5 class="blue-text" style="border-style: dotted;">
            <i class="material-icons"> info_outline </i>
            Changes to website are dynamic. Once you're done typing, the changes
            will automatically apply
        </h5>
        <a class="btn" href={{url_for("logout")}}> Log out </a>
        <a class="btn" href={{url_for("index")}} target="_blank">
            View Website in New Tab 
        </a>

        <ul class="collapsible" data-collapsible="expandable">
            {{edit_table(html, "Edit Text")}}
            {{edit_table(persons, "Edit Featured Speakers")}}
            {{edit_table(questions, "Edit FAQ")}}
            {{edit_table(sponsors, "Edit Sponsors")}}
        </ul>

    </div>

{% endblock body %}
