{% macro fields(column, value, id, table) -%}
name="{{table}}-{{id}}-{{column}}" table="{{table}}" column="{{column}}" row_id="{{id}}" value="{{value}}"
{%- endmacro %}

{% macro input(column, value, id, table, label) -%}
    {% if value == True or value == False %}
        {% if value %}
            {% set to_check="checked" %}
        {%endif %}
        <div class="col s3 switch">
            <span class="grey-text"> {{label}} </span><br>
            <label>
                No
                <input type="checkbox" class="dynamic-text" {{to_check | safe}}
                {{fields(column, value, id, table)}}>
                <span class="lever"></span>
                Yes
            </label>
        </div>
    {% else %}

        {% if not value or value | length < 200%}
            {% set width = "s6" %}
            {% set element_type = "input" %}
            {% set class = "small-text" %}
        {% else %}
            {% set width = "s12" %}
            {% set element_type = "textarea" %}
            {% set textarea_default = value %}
            {% set class = "materialize-textarea" %}
        {% endif %}

        <div class="input-field col s12">
            <{{element_type|safe}} {{fields(column, value, id, table)}}
             class="dynamic-text {{class|safe}}">
                 {{textarea_default}}
             </{{element_type|safe}}>

            <label for="{{table}}-{{id}}-{{column}}" class="active">
                {{label}}
            </label>
        </div>
    {% endif %}
{%- endmacro %}

{% macro display_row(row) -%}
    {% for data in row.edit_view() %}
        {{input(data["column"],
        data["value"],
        row.id,
        row.__class__.__name__,
        data["label"])}}
    {% endfor %}
{%- endmacro %}
