{% extends 'base.html' %}

{% macro list_of_links() %}
<li> <a class="scrollto" href="#about"> About </a> </li>
<li> <a class="scrollto" href="#location"> Location </a> </li>
<li> <a class="scrollto" href="#tickets"> Get tickets </a> </li>
<li> <a class="scrollto" href="#faq"> FAQ </a> </li>
<li> <a class="scrollto" href="#apply"> Apply as a speaker </a> </li>
<li> <a class="scrollto" href="#contact"> Contact Us </a> </li>
{% endmacro %}


{% block othercss %}
    <title>
        {{html.title}}: Unleashing the extraordinary
    </title>
    <meta name="description"
          content="Phase Shift is a student run, Mississauga based event in
          which a series of speakers will share their opinions and ideas on a
          variety of topics." >

    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" media="screen,projection"/>
    <link href="http://cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.1/css/simple-line-icons.css">
{% endblock %}

{% block script %}
    <script src="http://cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.js" type="text/javascript" charset="utf-8"> </script>
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"> </script>
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"> </script>
    <!-- Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79387025-1', 'auto');
      ga('send', 'pageview');
    </script>
{% endblock %}

{% macro parallax_mini(img, title) -%}
    <div class="parallax-container valign-wrapper mini-parallax">
        <div class="parallax">
            <img alt="{{title}}"
                 src="{{img}}">
        </div>
        <div class="container valign">
            <div class="center white-text">
                <h3 class="bold">{{title}}</h3>
            </div>
        </div>
    </div> <br>
{% endmacro %}

{% block body %}
    {# navbar #}
    <nav id="navbar"
         class="grey darken-4 navbar-fixed">
        <div class="nav-wrapper">

            <div class="container">

                <span>
                    <a href="#intro" class="center scrollto header-image">
                        <img src="{{url_for('static', filename='logo/logo.png')}}">
                    </a>
                </span>

                {# large navbar #}
                <ul id="large" class="right hide-on-med-and-down">
                    {{ list_of_links() }}
                </ul>

                {# mobile navbar #}
                <a href="/" data-activates="mobile" class="right button-collapse">
                    <i class="material-icons"> menu </i>
                </a>

                <ul class="side-nav" id="mobile"> {{ list_of_links()}} </ul>
            </div>
        </div>
    </nav>

    {# intro #}
    <div id="intro" class="parallax-container valign-wrapper fullscreen">
        <div class="parallax">
            <img alt="Phase Shift intro image"
                 src="{{url_for('static', filename='images/intro_greyed.jpg')}}">
        </div>
        <div class="container valign">
            <div id="title" class="title center white-text">
                <h1 class="bold">
                    {{html.title | safe}}
                </h1>
            </div>

            <div class="row center col s12 m6 offset-m2">
                <h5 class="white-text light">
                    {{html.subtitle | safe }}
                </h5>
            </div>

            <div class="center row">
                <a class="scrollto btn-large waves-effect waves-light grey darken-4"
                    href="#tickets">
                    get tickets
                </a>
            </div>
        </div>
    </div>

    {% macro show_featured_person(person, offset_val, faces_per_row) -%}
    <div class="col s6 m{{12 // faces_per_row}} push-m{{offset_val}}">
        <a href="#"
           data-featherlight="#Person-{{person.id}}">
            <img alt="{{person.name}}" class="circle featured-image"
                 src={{person.url}}>
        </a>
        <h6 class="nowrap bold-title"> {{person.name}} </h6>
        <h6 class="nowrap"> {{person.school}} </h6>
    </div>
    <div id="Person-{{person.id}}" class="lightbox center row">
        <img alt="{{person.name}}"
             class="circle"
             src={{person.url}}>
        <h5> {{person.name}} </h5>
        <p> {{person.description}} </p>
    </div>
    {% endmacro %}

    {% macro show_all_persons(persons, faces_per_row) -%}
        {% for i in range(0, persons|length, faces_per_row)  %}
            {% set last_in_row = min(i+ faces_per_row, persons | length) %}
            {% set people_in_row = last_in_row - i %}
            {% set offset_val = 12 - (people_in_row * (12//faces_per_row)) %}
            {% if offset_val % 2 == 0  %}
                {%set offset_val = offset_val// 2%}
            {% else %}
                {% set offset_val = offset_val/2 %}
            {% endif %}

            {% for j in range(i, last_in_row) %}
                {{ show_featured_person(persons[j], offset_val, faces_per_row) }}
            {% endfor %}
        {% endfor %}
    {% endmacro %}

    {# about #}
    <div id="about" class="row container center">
        <h3 class="grey-text text-darken-2"> About </h3>
        <p class="light flow-text"> {{html.about | safe}} </p>

        {% if html.show_program %}
            <h3 class="grey-text text-darken-2"> Program </h3>
            <h5 class="grey-text"> Featured speakers</h5><hr>
            {{show_all_persons(persons, 4)}}

            <div class="col s12 center">
                <h5 class="grey-text"> Schedule </h5><hr>
                <table class="highlight centered">
                    {{html.table|safe}}
                </table>
            </div>
        {% endif %}
    </div>


    {# location #}
    <div id="location" class="row ">
        {{
        parallax_mini(url_for('static', filename="images/location.jpeg"),
                      'Location')
        }}

        <div class="center container">
            {% if html.show_location %}
                <div class="row">
                    <div class="col s12 m6">
                        {{html.location|safe}}
                    </div>

                    <div id="google-maps" class="col s12 m6">
                       {{html.google_maps|safe}}
                    </div>
                </div>
            {% else %}
                <h2> TBA </h2>
            {% endif %}
        </div>
    </div>


    {# tickets #}
    <div id="tickets" class="row ">

        {{
        parallax_mini(url_for('static', filename='images/tickets.jpeg'),
                      'Get tickets')
        }}

        <div class="center container">
            <div class="row">
                <p class="flow-text"> Tickets are priced at </p>
                {% for price in prices %}
                    <div class="col s12 m{{ 12//(prices|length) }}">
                        <h5 class="grey-text text-darken-2"> {{price.name}} </h5>
                        <h4> {{price.price}} </h4>
                        <p class="grey-text text-darken-2"> {{price.description}} </p>
                    </div>
                {% endfor %}
            </div>
            {% if html.show_ticket_button%}
                <a class="btn-large grey darken-4 waves-effect waves-light dropdown-button"
                   href="https://www.tilt.com/users/gli79/organized"
                   data-activates='ticket-types'>
                    Buy Now
                </a>

                <ul id="ticket-types" class="dropdown-content">
                    {% for price in prices %}
                    <li>
                        <a href="{{price.url}}" class="grey-text text-darken-4">
                            {{price.name}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <a class="btn-large disabled"> Tickets coming soon </a>
            {% endif %}
        </div>
    </div>

    {# faq #}
    <div id="faq" class="row ">
        {{
        parallax_mini(url_for('static', filename='images/faq.jpeg'),
                      'FAQ')
        }}

        <div class="container row">
            {%set mid = ((questions| length)/2) | round(0, 'ceil') | int%}
            <div class="col s12 m6">
            {% for i in range(0, mid) %}
                <div class="col s12" style="left: 0%;">
                    <h5> {{questions[i].question}} </h5>
                    <p> {{questions[i].answer | safe}} </p>
                </div>
            {% endfor %}
            </div>

            <div class="col s12 m6">
            {% for i in range(mid, questions|length) %}
                <div class="col s12" style="left: 0%;">
                    <h5> {{questions[i].question}} </h5>
                    <p> {{questions[i].answer | safe}} </p>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    {# apply #}
    <div id="apply" class="row ">
        {{
        parallax_mini(url_for('static', filename='images/apply.jpeg'),
                      'Apply as a speaker')
        }}

        <div class="container center">
            <p class="flow-text">
                {{html.apply_text | safe}}
            </p>
            {% if html.show_speaker_button%}
                <a class="btn-large grey darken-4 waves-effect waves-light"
                    href="http://goo.gl/forms/IbUlrTkxNWxzMeyM2">
                    Apply as a speaker
                </a>
            {% else %}
                <a class="btn-large disabled"> Applications are not open </a>
            {% endif %}
        </div>
    </div>

    {# contact #}
    <div id="contact" class="center row section scrollspy container">
        <h3 class="grey-text darken-2"> Contact Us</h3>

        <div class="row">
            <p class="flow-text">
                Have any questions, concerns, or ideas? Feel free to
                reach out to us at: <br>
                <a href="mailto:contact@phaseshift.xyz">
                    contact@phaseshift.xyz
                </a>
            </p>
            <div class="col s12 m6 push-m3">
                <div class="row">
                    <div class="col s4">
                        <a href="https://www.facebook.com/Phase-Shift-1633878273602288/">
                            <i class="black-text social-icon icon-social-facebook"></i>
                        </a>
                    </div>
                    <div class="col s4">
                        <a href="https://twitter.com/_PhaseShift">
                            <i class="black-text social-icon icon-social-twitter"></i>
                        </a>
                    </div>
                    <div class="col s4">
                        <a href="http://instagram.com/phase.shift_official">
                            <i class="black-text social-icon icon-social-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% macro show_exec(name, full_name, title, email) %}
        <div class="col s6 m3">
            <img alt="{{name}}" class="circle featured-image"
                 src={{url_for('static', filename="images/" + name + ".jpg")}}>
             <h6 class="nowrap bold-title"> {{full_name}} </h6>
             <h6 class="nowrap"> {{title}} </h6>
             <h5 class="nowrap">
             <a href={{"mailto:"+email}}><i class="black-text icon-envelope"></i></a>
             </h5>
        </div>
        {% endmacro %}

        <h5 class="light">Meet the team:</h5>
        <div class="row">
            {{show_exec("gloria", "Gloria Li", "CEO and Lead Organizer", "gloria@phaseshift.xyz")}}
            {{show_exec("umna", "Umna Babar", "Business Analyst", "umna@phaseshift.xyz")}}
            {{show_exec("sachin", "Sachin Khanna", "Marketing Director", "sachin@phaseshift.xyz")}}
            {{show_exec("viraj", "Viraj Bangari", "Web Developer", "viraj@phaseshift.xyz")}}
        </div>
    </div>

    {# footer #}
    <footer class="page-footer grey lighten-2">
        <div class="container row">
            <div class="col l6 s12">
                <h5 class="grey-text text-darken-2">Talk to us</h5>
                <ul>
                <li> <a href="mailto:contact@phaseshift.xyz"> contact@phaseshift.xyz </a> </li>
                <li> <a href="https://www.facebook.com/Phase-Shift-1633878273602288/"> Facebook </a> </li>
                <li> <a href="https://twitter.com/_PhaseShift"> Twitter </a> </li>
                <li> <a href="http://instagram.com/phase.shift_official"> Instagram </a> </li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="grey-text text-darken-2">Links</h5>
                <ul>
                    {{list_of_links()}}
                </ul>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container grey-text text-darken-2">
                2016 {{html.title | safe}}
            </div>
        </div>
    </footer>
{% endblock %}
